body {
    background-color: lightblue;
}

.css-array-body{
    width: 300px;
    object-fit: contain;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(96, 96, 96);

    margin-top: 100px;
    margin-left:  200px;
    /* rotate: 180deg; */
}
  
.css-complexity-table {
    width: 300px;
    /* object-fit: contain;
    border-width: 2px;
    border-style: solid;
    border-color: yellow; */

    margin-top: 150px;
    /* margin-left: 50px; */

    padding-top: 100px;
    padding-left: 100px;

}
  
.css-complexity-text{
    font-family: 'Jura', Courier, monospace; 
    font-size: 35px;
    font-weight: bold;
}

section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
}
  
section .Complexity_Containers {
    margin-top: 20%;
}
  
section .Complexity_Containers .Pair_Definitions {
    margin-top: 20%;
}
  
section .Complexity_Containers .Pair_Definitions p {
    display: inline;
}
  
section .Complexity_Containers .Pair_Definitions p.Sub_Heading {
    font-size: medium;
    text-transform: none;
}
  
section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
}